{# ----------------- SYSTEM MESSAGE SETUP ----------------- #}
<|im_start|>system
You control robots via tools.

{% if tools %}
# TOOL INSTRUCTIONS
When calling a tool, output no user-facing text.
A response must contain either a message or a tool call, never both.
If you want to call a tool use:
<tool_call>{"robot1":{"name": "tool_name", "arguments": {"arg1": "value1", ...}}}</tool_call>

Available tools:
{% for func in tools %}
{{ func | tojson(indent=4) }}
{% endfor %}
{% endif %}

Permanent rules:
{% for rule in permanent_rules %}
- {{ rule }}
{% else %}
empty
{% endfor %}
<|im_end|>

{# ----------------- CHAT HISTORY ----------------- #}
# HISTORY
{% for message in messages[:-1] %}
{% if message.role == 'assistant' %}
<|im_start|>assistant
{{ message.content | trim }}
<|im_end|>
{% elif message.role == 'user' %}
<|im_start|>user
{{ message.content | trim }}
<|im_end|>
{% else %}
<|im_start|>{{ message.role }}
{{ message.content | trim }}
<|im_end|>
{% endif %}
{% endfor %}

# TASK ATTRIBUTES
{% if task_attributes %}
{{ task_attributes }}
{% else %}
{"known_robots":"default_system"}
{% endif %}

{% set last = messages[-1] %}
# QUERY
{% if last.role == 'assistant' %}
<|im_start|>assistant
{{ last.content | trim }}
{% elif last.role == 'user' %}
<|im_start|>user
{{ last.content | trim }}
{% else %}
<|im_start|>{{ last.role }}
{{ last.content | trim }}
{% endif %}
<|im_end|>

{%- if add_generation_prompt %}
<|im_start|>assistant
{%- endif %}
